


.lightbox {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 1000;
  }
  
  .lightbox:target {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .lightbox img {
    border-radius: 1em;
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 90vh;
  }
  
  .lightbox .close {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    height: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 1em;
    z-index: 1001;
  }
  
  .lightbox p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  @include (https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap);

/* Body */
body {
  background: white;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* gallery */
.gallery {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh auto;
  margin: 2em auto;
  max-width: 100%;
  width: 1200px;
  grid-template-areas:
            "header . . ."
            "a b c d"
            "e f g h"
            "e i j k"
            "l . . .";
}

@media screen and (max-width: 650px) { 
    .gallery {
        display: block;
        padding: 1.5rem;
          
    }  
}
#a {grid-area: a;}
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}
#f {grid-area: f;}
#g {grid-area: g;}
#h {grid-area: h;}
#i {grid-area: i;}
#j {grid-area: j;}
#k {grid-area: k;}
#l {grid-area: l;}


.gallery h2 {
  font-size: 30px;
  grid-column: 1/4;
  color: slateblue;
}

.gallery a {
  cursor: zoom-in;
  transition: filter 0.2s ease-in-out;
}

.gallery a:hover {
  filter: brightness(90%);
  transform: scale(1.1);
  cursor: pointer;
}
.gallery img:hover {
    transform: scale(1.05);

}


.gallery img {
  border-radius: 1em;
  max-width: 100%;
}