


.lightbox {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    z-index: 1000;
  }
  
  .lightbox:target {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .lightbox img {
    border-radius: 1em;
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 90vh;
  }
  
  .lightbox .close {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    height: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 1em;
    z-index: 1001;
  }
  
  .lightbox p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  @include (https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap);

/* Body */
body {
  background: white;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* gallery */
.gallery {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vh auto;
  margin: 2em auto;
  max-width: 100%;
  width: 1200px;
  grid-template-areas:
            "header . . ."
            "a b c d"
            "e b c f"
            "g h i j"
            "l h m n"
            "o p q r"
            "s p t u"
            "v w x y"
            "z w aa bb"
            "cc dd ee ff"
            "cc dd gg ff"
            "hh ii jj kk"
            "ll mm jj kk"
            "nn mm rr pp "
            "tt qq oo ss"
            "yy vv ww xx"
            "fff ddd zz bbb"
            "ccc eee aaa uu"
            "ggg hhh iii jjj"
            "kkk lll iii jjj"
            "nnn ooo ppp qqq"
            "mmm rrr sss ttt"
            "uuu vvv www ttt"
            "uuu yyy www xxx"
            "zzz b4 a4 c4"
            "zzz b4 d4 e4"
            "f4 g4 h4 i4"
            "j4 k4 l4 m4"
            "n4 o4 l4 p4"
            "q4 o4 r4 s4"
            "t4 u4 v4 w4"
            "x4 y4 v4 w4"
            "z4 y4 a5 b5"
            "c5 d5 e5 f5"
            "g5 h5 e5 i5"
            "j5 k5 .. .."
           


            
;}

@media screen and (max-width: 650px) { 
    .gallery {
        display: block;
        padding: 1.5rem;
          
    }  
}
#a {grid-area: a;}
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}
#f {grid-area: f;}
#g {grid-area: g;}
#h {grid-area: h;}
#i {grid-area: i;}
#j {grid-area: j;}
#k {grid-area: k;}
#l {grid-area: l;}
#m {grid-area: m;}
#n {grid-area: n;}
#o {grid-area: o;}
#p {grid-area: p;}
#q {grid-area: q;}
#r {grid-area: r;}
#s {grid-area: s;}
#t {grid-area: t;}
#u {grid-area: u;}
#v {grid-area: v;}
#w {grid-area: w;}
#x {grid-area: x;}
#y {grid-area: y;}
#z {grid-area: z;}
#aa {grid-area: aa;}
#bb {grid-area: bb;}
#cc {grid-area: cc}
#dd {grid-area: dd;}
#ee {grid-area: ee;}
#ff {grid-area: ff;}
#gg {grid-area: gg;}
#hh {grid-area: hh;}
#ii {grid-area: ii;}
#jj {grid-area: jj;}
#kk {grid-area: kk;}
#ll {grid-area: ll;}
#mm {grid-area: mm;}
#nn {grid-area: nn;}
#oo {grid-area: oo;}
#pp {grid-area: pp;}
#qq {grid-area: qq;}
#rr {grid-area: rr;}
#ss {grid-area: ss;}
#tt {grid-area: tt;}
#uu {grid-area: uu;}
#vv {grid-area: vv;}
#ww {grid-area: ww;}
#xx {grid-area: xx;}
#yy {grid-area: yy;}
#zz {grid-area: zz;}
#aaa {grid-area: aaa;}
#bbb {grid-area: bbb;}
#ccc {grid-area: ccc}
#ddd {grid-area: ddd;}
#eee {grid-area: eee;}
#fff {grid-area: fff;}
#ggg {grid-area: ggg;}
#hhh {grid-area: hhh;}
#iii {grid-area: iii;}
#jjj {grid-area: jjj;}
#kkk {grid-area: kkk;}
#lll {grid-area: lll;}
#mmm {grid-area: mmm;}
#nnn {grid-area: nnn;}
#ooo {grid-area: ooo;}
#ppp {grid-area: ppp;}
#qqq {grid-area: qqq;}
#rrr {grid-area: rrr;}
#sss {grid-area: sss;}
#ttt {grid-area: ttt;}
#uuu {grid-area: uuu;}
#vvv {grid-area: vvv;}
#www {grid-area: www;}
#xxx {grid-area: xxx;}
#yyy {grid-area: yyy;}
#zzz {grid-area: zzz;}
#a4 {grid-area: a4;}
#b4 {grid-area: b4;}
#c4 {grid-area: c4;}
#d4 {grid-area: d4;}
#e4 {grid-area: e4;}
#f4 {grid-area: f4;}
#g4 {grid-area: g4;}
#h4 {grid-area: h4;}
#i4 {grid-area: i4;}
#j4 {grid-area: j4;}
#k4 {grid-area: k4;}
#l4 {grid-area: l4;}
#m4 {grid-area: m4;}
#n4 {grid-area: n4;}
#o4 {grid-area: o4;}
#p4 {grid-area: p4;}
#q4 {grid-area: q4;}
#r4 {grid-area: r4;}
#s4 {grid-area: s4;}
#t4 {grid-area: t4;}
#u4 {grid-area: u4;}
#v4 {grid-area: v4;}
#w4 {grid-area: w4;}
#x4 {grid-area: x4;}
#y4 {grid-area: y4;}
#z4 {grid-area: z4;}
#a5 {grid-area: a5;}
#b5 {grid-area: b5;}
#c5 {grid-area: c5;}
#d5 {grid-area: d5;}
#e5 {grid-area: e5;}
#f5 {grid-area: f5;}
#g5 {grid-area: g5;}
#h5 {grid-area: h5;}
#i5 {grid-area: i5;}
#j5 {grid-area: j5;}
#k5 {grid-area: k5;}


.gallery h2 {
  font-size: 30px;
  grid-column: 1/4;
  color: slateblue;
}

.gallery a {
  cursor: zoom-in;
  transition: filter 0.2s ease-in-out;
}

.gallery a:hover {
  filter: brightness(90%);
  transform: scale(1.1);
  cursor: pointer;
}
.gallery img:hover {
    transform: scale(1.05);

}


.gallery img {
  border-radius: 1em;
  max-width: 100%;
}